<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-witdh, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>    

<body>
    <aside id="sidebar">{% block sidebar %}     {% endblock %}</aside>
        
   
    <title>{% block title %}     {% endblock %}</title>
</body>

    <div>
        <a href="{% url 'index_categorie' %}">&nbsp;Page d'accueil</a>
        <h1> {{categorie.nom}} </h1>
        <p> Description : {{categorie.descriptif}} </p>
        
    </div>

    

{% block content %}

{% endblock %}
</html>