{% extends 'filmographie/main.html' %}
{% block content %}

<!-- Pour mettre en commentaire -->
<div class="container">
    <div id="clique">
        <H1>Filmographie by</H1>
        <button><h3><a href="/films/"> Liste des films</a></h3></button>
        <button><h3><a href="/acteurs/">Liste des Acteurs</a></h3></button>
        <button><h3><a href="/personnes/">Liste des personnes</a></h3></button>
        <button><h3><a href="/categorie/">Liste des catégories</a></h3></button>
        <button><h3><a href="/commentaire/">Liste des commentaires</a></h3></button>
        <h2> Site réalisé par Grégory, Marius, et Akif</h2>
    </div> 
</divclass>
{% endblock %}
