{% extends 'filmographie/main.html' %}
{% block content %}

<!-- Pour mettre en commentaire -->
<div>
    <button><a href="/filmographie/"> Liste des modèles des films</a></button>
    <button><a href="/filmographie/ajout/">Ajout d'un Film</a></button>


    <!-- #URLS Acteur-->
    <button><a href="/filmographie/acteurs/">Liste des Acteurs</a></button>
    <button><a href="/filmographie/acteurs/ajout/">Ajouter un Acteur</a></button>


    <!-- #URLS Personnes -->
    <button><a href="/filmographie/personnes/">Liste des personnes</a></button>


    <button><a href="/filmographie/categorie/">Liste des catégorie</a></button>

</div>
{% endblock %}