{% extends 'filmographie/main.html' %}
{% block content %}

<!-- Pour mettre en commentaire -->
<div>
    <a href="/filmographie/"> Liste des modèles des films</a>
    <a href="/filmographie/ajout/">Ajout d'un Film</a>



    <!-- #URLS Acteur-->
    <a href="/filmographie/acteurs/">Liste des Acteurs</a>
    <a href="/filmographie/acteurs/ajout/">Ajouter un Acteur</a>


    <!-- #URLS Personnes -->
    <a href="/filmographie/personnes/">Liste des personnes</a>


    <a href="/filmographie/categorie/">Liste des catégorie</a>

</div>
{% endblock %}