<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-witdh, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>    

<body>
    <div class="container">
        <aside id="sidebar">{% block sidebar %}     {% endblock %}</aside>
            
    
        <title>{% block title %}     {% endblock %}</title>


        <div>
            <a href="{% url 'index_personne' %}">Page d'accueil</a>
            <h1> Bienvenue {{personne.nom}} {{personne.prenom}}</h1>
            <p> {{personne.nom}} {{personne.prenom}} </p>
            <p>Votre Pseudo :  {{personne.pseudo}} <br> Votre Mail :  {{personne.mail}} <br> Type : {{personne.type}} </p>
        </div>

        
    </div>
</body>
{% block content %}

{% endblock %}
</html>