{% extends 'filmographie/main.html' %}

{% block title %} Affichage Films {% endblock %}

{% block content %} 
<div>
    <a href="/filmographie/acteurs/">Home</a> <a href="/filmographie/ajout">ajouter un acteur </a> 
    <h1> {{films.titre}}</h1>


    <p>Voici le film {{film.titre}} avec  comme l'id : {{film.id}} de catégorie {{film.categorie}}. </p>

    <p>Voici la liste des modèles appartenant à {{film.titre}} : 
        {% for l in liste %}
            <li> 
                {{l}}
                <a href="/voiture/updatevoiture/{{l.id}}">Modifier le modèle</a>
                <a href="/voiture/affichevoiture/{{l.id}}/">Afficher le modèle</a>
                <a href="/voiture/deletevoiture/{{l.id}}/">Supprimer le modèle</a>
            </li>
        {% endfor %}
    </p>
</div>
{% endblock %}

