{% extends 'filmographie/main.html' %}

{% block title %} Ajout d'un Acteur {% endblock %}
{% block content %}
<div>
    {% if id_m != None %}
        <h1>Veuillez ajouter un acteur : </h1>
        <form method="post" action="/filmographie/acteurs/traitement/{{id}}/">
    
    {% else %}
        <h1>Mise à jour du modèle d'un acteur</h1>
        <form method="post" action="/filmographie/acteurs/updatetraitement/{{id}}/">
    {% endif %}
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="envoyer les données"\>
        </form>        
</div>
{% endblock %}

    
