{% extends 'filmographie/main.html' %}

{% block title %} Ajout d'un Acteur {% endblock %}
{% block content %}
<div>
    {% if id != None %}
        <h1>Mise à jour d'un film</h1>
        <form method="post" action="/filmographie/acteurs/updatetraitement/{{id}}/">
    {% else %}
        <h1>Veuillez ajouter d'un film</h1>
        <form method="post" action="/filmographie/acteurs/traitement/">
    {% endif %}
    {% csrf_token %}
    {{ form.as_ul }}
        <input type="submit" value="envoyer les données"\>
        </form>        
</div>
{% endblock %}

    
