{% extends 'filmographie/main.html' %}

{% block title %} Acteurs {% endblock %}

{% block content %}
<div>

    <h1>Acteurs</h1>

    <a href="/filmographie/"> Liste des modèles des films</a>
    <h1>Bienvenue sur la liste des ACTEURS</h1>
    <p>Si vous souhaitez ajouter un acteur cliquer sur le bouton suivant :
        <a href="/filmographie/acteurs/ajout"> Ajouter un acteur</a>
    </p>
    <ol>
        {% for l in liste %}
            <li>
                {{l}}
                <a href="/filmographie/acteurs/update/{{l.id}}/">Modifier l'acteur</a>
                <a href="/filmographie/acteurs/affiche/{{l.id}}/">Afficher l'acteur</a>
                <a href="/filmographie/acteurs/delete/{{l.id}}/">Supprimer l'acteur</a>
            </li>
        {% endfor %}
    </ol>

</div>
{% endblock %}