{% extends 'filmographie/main.html' %}

{% block title %} Commentaires {% endblock %}

{% block content %}
<div class="container">

    <h1>Commentaires</h1>

    <a href="/filmographie/"> Liste des films</a> <a href="/filmographie/categorie/"> Liste des catégorie</a> <a href="/filmographie/personnes/"> Liste des personnes</a> <a href="/filmographie/acteurs/"> Liste des Commentaires</a>
    <h1>Bienvenue sur la liste des COMMENTAIRES</h1>
    <p>Si vous souhaitez ajouter un Commentaires cliquer sur le bouton suivant :
        <a href="/filmographie/commentaire/ajout"> Ajouter un commentaire</a>
    </p>
    <ol>
        {% for c in liste %}
            <li>
                {{c}}
                <a href="/filmographie/commentaire/update/{{c.id}}/">Modifier</a>
                <a href="/filmographie/commentaire/affiche/{{c.id}}/">Afficher</a>
                <a href="/filmographie/commentaire/delete/{{c.id}}/">Supprimer</a>
            </li>
        {% endfor %}
    </ol>

</div>
{% endblock %}