{% extends 'filmographie/main.html' %}

{% block title %} Affichage Films {% endblock %}

{% block content %} 
<div>
    <a href="/filmographie/acteurs/">Home</a> <a href="/filmographie/ajout">ajouter un acteur </a> 
    <h1> {{films.titre}}</h1>


    <p>Voici le film {{films.id}} avec  comme l'id : {{films.titre}}. </p>

    <p>Voici la liste des modèles appartenant à {{films.titre}} : 
        {% for v in liste %}
            <li> 
                {{v}}
                <a href="/voiture/updatevoiture/{{v.id}}">Modifier le modèle</a>
                <a href="/voiture/affichevoiture/{{v.id}}/">Afficher le modèle</a>
                <a href="/voiture/deletevoiture/{{v.id}}/">Supprimer le modèle</a>
            </li>
        {% endfor %}
    </p>
</div>
{% endblock %}

