{% extends 'filmographie/main.html' %}

{% block title %} Films {% endblock %}

{% block content %}
<div class="container">
    <body>  
        <h1>Bienvenue sur la liste des FILMS</h1> 
        <h3><a href="{% url 'index' %}">Home</a></h3> 
        
        <p>Si vous souhaitez ajouter un film cliquer sur le bouton suivant :
            <a href="{% url 'ajout_films' %}"> Ajouter un film</a>
        </p>
        <ol>
            {% for f in liste %}
                <li>
                    {{f}}
                    <a href="/films/update/{{f.id}}">Modifier</a>
                    <a href="/films/affiche/{{f.id}}/">Afficher</a>
                    <a href="/films/delete/{{f.id}}/">Supprimer</a>
                </li>
            {% endfor %}
        </ol>
    </body>
</div>
{% endblock %}