{% extends 'filmographie/main.html' %}

{% block title %} Ajout d'un Commentaire {% endblock %}
{% block content %}
<div class="container">
    {% if id != None %}
        <h1>Mise à jour d'un Commentaire</h1>
        <form method="post" action="/commentaire/updatetraitement/{{id}}/">
    {% else %}
        <h1>Veuillez ajouter d'un Commentaire</h1>
        <form method="post" action="/commentaire/traitement/">
    {% endif %}
    {% csrf_token %}
    {{ form.as_ul }}
        <input type="submit" value="envoyer les données"\>
        </form>        
</div>
{% endblock %}

    
